In [40]:
import pandas as pd
import scipy.io as sio
import numpy as np
import h5py

## Data

In [41]:
meta = scipy.io.loadmat('./data/devkit/cars_meta.mat')

In [90]:
class_names = np.array(meta['class_names'])

In [103]:
annotations = scipy.io.loadmat('./data/devkit/cars_train_annos.mat')['annotations']

In [109]:
data_dict = {
    'filename': [],
    'class': [],
    'class_name': [],
}

for annotation in annotations[0]:
    data_dict['filename'].append(annotation[5][0])
    data_dict['class'].append(annotation[4][0][0])
    data_dict['class_name'].append(class_names[0][annotation[4][0][0] - 1][0])

In [112]:
data = pd.DataFrame(data_dict)

In [115]:
data.head()

    filename  class                           class_name
0  00001.jpg     14                  Audi TTS Coupe 2012
1  00002.jpg      3                  Acura TL Sedan 2012
2  00003.jpg     91           Dodge Dakota Club Cab 2007
3  00004.jpg    134     Hyundai Sonata Hybrid Sedan 2012
4  00005.jpg    106  Ford F-450 Super Duty Crew Cab 2012

In [116]:
data.to_csv('./data/labels.csv')