In [1]:
import pandas as pd
import scipy.io as sio
import numpy as np
import h5py

## Data

In [2]:
meta = sio.loadmat('./data/devkit/cars_meta.mat')

In [3]:
class_names = np.array(meta['class_names'])

In [4]:
annotations = sio.loadmat('./data/devkit/cars_train_annos.mat')['annotations']

In [5]:
def get_make(classes):
    if classes[0] == 'Land':
        return classes[0] + ' ' + classes[1]
    else:
        return classes[0]

def get_model(classes):
    if classes[0] == 'Land':
        if classes[2] == 'Range':
            return classes[2] + ' ' + classes[3]
        else:
            return classes[2]
    else:
        return classes[1]
    
def get_year(classes):
    return classes[len(classes) - 1]

In [6]:
data_dict = {
    'filename': [],
    'class': [],
    'class_name': [],
    'make': [],
    'model': [],
    'year': []
}

for annotation in annotations[0]:
    class_name = class_names[0][annotation[4][0][0] - 1][0]
    classes = class_name.split(' ')
    data_dict['filename'].append(annotation[5][0])
    data_dict['class'].append(annotation[4][0][0])
    data_dict['class_name'].append(class_name)
    data_dict['make'].append(get_make(classes))
    data_dict['model'].append(get_model(classes))
    data_dict['year'].append(get_year(classes))

In [7]:
data = pd.DataFrame(data_dict)

In [8]:
data.head()

,filename,class,class_name,make,model,year
0,00001.jpg,14,Audi TTS Coupe 2012,Audi,TTS,2012
1,00002.jpg,3,Acura TL Sedan 2012,Acura,TL,2012
2,00003.jpg,91,Dodge Dakota Club Cab 2007,Dodge,Dakota,2007
3,00004.jpg,134,Hyundai Sonata Hybrid Sedan 2012,Hyundai,Sonata,2012
4,00005.jpg,106,Ford F-450 Super Duty Crew Cab 2012,Ford,F-450,2012

In [9]:
data.to_csv('./data/labels.csv')